/* Estilo geral da página */
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  font-size: 24px;
  color: #333;
}

/* Estilo do formulário */
.form {
  margin-top: 20px;
}

.example-form-field {
  width: 100%;
  margin-bottom: 20px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
 
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilo da tabela */
.list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}



thead {
  background-color: #77008f;
  color: #fff;
}

th, td {
  padding: 10px;
  text-align: left;
  border-color: #333;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilo dos botões de ação */
button.mat-icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding-right: 10px;

}

mat-icon {
  font-size: 24px;
  color: #007bff;
}
